.tabledataTable__header__label{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .tabledataTable__header__label>span{
    font-weight: 600;
    font-size: 13px;
  }
  
  .tabledataTable__header__label > .MuiSvgIcon-root{
    font-size: 14px;
    color: gray;
    margin-right: 5px;
  }
  
  .dataTable__header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 20px;
  }
  
  .dataTable__header > h3{
    flex: 1;
  }

  
@media screen and (max-width: 996px){
    .dataTable__header{
      flex-direction: column;
      justify-content: space-around;
    }
    a{
      max-width: 100px;
    }
  }