.filterPanel h4{
    color: gray;
}

.filter{
    display:flex;
}

.MuiDrawer-paperAnchorBottom{
    padding:10px;
}

.MuiFormControlLabel-label{
    font-size: 14px;
}

.MuiFormControl-root{
    width: auto;
}

.filter__action{
    position: absolute;
    right: 0px;
}

.applyBtn{
    padding: 5px 20px;
    cursor: pointer;
}

.cancelBtn{
    margin-left: 10px;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: gray;
    color: #fff;
}

@media screen and (max-width: 996px){
    .filter{
        flex-direction: column;
        justify-content: space-around;
    }
    .filter__action{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0;
        right: 0;
    }
}