

.MuiChip-root{
  margin: 10px !important;
  padding: 15px 5px !important;
}


.MuiTableContainer-root {
  width: 100%;
  overflow-x: auto;
  height: 400px;
}

.MuiTable-stickyHeader {
  border-collapse: unset !important;
}

.MuiFormLabel-root {
  font-size: 0.75rem !important;
}

.MuiFormControl-root {
  bottom: 15px;
  width: 250px;
}
